/* Ensure the html and body elements take up the full height */
html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container for the survey */
.survey-container {
  background-color: #f1f1f1; /* Slightly darker gray tone than the background */
  padding: 25px 30px; /* Pleasant spacing within the container */
  border-radius: 12px; /* Slight rounding of the corners */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Soft shadow */
  max-width: 500px; /* Maximum width of the container */
  width: 70%;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

/* Input field style */
.input-field {
  width: 50%; /* Full width of the container */
  max-width: 300px; /* Maximum width for the input field */
  padding: 10px;
  margin: 15px 0;
  font-size: 1em;
  border: 2px solid #dddddd; /* Soft border */
  border-radius: 5px;
  background-color: #fefefe;
  color: #333333; /* Darker text in the fields */
  box-sizing: border-box;
}

.input-field:focus {
  border-color: #000000; /* Blue highlight on focus */
  outline: none;
}

/* Radio buttons */
.condition-radio {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.condition-label {
  font-size: 1.1em;
  color: #555555; /* Soft gray color for the labels */
  cursor: pointer;
  transition: color 0.3s ease;
}

.condition-label:hover {
  color: #000000; /* Blue highlight on hover */
}

/* Next button */
.jspsych-btn {
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 16px;
  background-color: #4caf50; /* Green button */
  color: white;
  border: none;
  border-radius: 8px; /* Rounded edges */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.jspsych-prompt {
  font-size: 23px; /* 20% größer als 18px */
  color: #333;
  margin-bottom: 24px; /* 20% größer als 20px */
  text-align: center;
}


.jspsych-btn:hover {
  background-color: #45a049; /* Slightly darker on hover */
}

/* CSS-Klasse für größere Schrift */
.stimulus-large-text {
  font-size: 32px; /* Schriftgröße auf 32px setzen */
}

/* Stelle sicher, dass wir einen Container haben,
   in dem der Button rechtsbündig sein kann. */
   .recall-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;  /* Button nach rechts */
    align-items: center;
    margin-top: 20px;
  }
  
  /* Checkbox-Container anfangs unsichtbar */
  #confirmation-checkbox-container {
    display: none;
    margin-right: 15px; /* Platz zwischen Checkbox und Button */
    align-items: center;
    font-size: 16px;
    color: #333;
  }
  